<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2 class="h3">Liste des clés API déjà existantes</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Application</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date de création</th>
                        {# <th scope="col">Suppression</th> #}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Exemple</td>
                        <td>example@example.com</td>
                        <td>00-00-0000</td>
                        <td><a href="#">supprimer</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Exemple</td>
                        <td>example@example.com</td>
                        <td>00-00-0000</td>
                        <td><a href="#">supprimer</a></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Exemple</td>
                        <td>example@example.com</td>
                        <td>00-00-0000</td>
                        <td><a href="#">supprimer</a></td>
                    </tr>
                </tbody>
                </table>
        </div>      
    </div>
</div>